body{
    background-color: burlywood;
}

div{
    display: flex;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
    
   
}
.container1{
    display: flex;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 500px;
    padding: 20px;

    
    
} 

.container2{
    display: flex;
    border: solid black 1px;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 500px;
    padding: 20px;
    
}

img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

h3{
    align-items: center;
}